@font-face {
  font-family: valorant;
  src: url(./font/Valorant\ Font.ttf);
}

@font-face {
  font-family: lemonMilk;
  src: url(./font/LEMONMILK-Light.otf);
}

* {
  margin: 0px;
  border: 0px;
}

body {
  font-family: lemonMilk;
  font-size: 18px;
  background-image: url(./img/valorantbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(16, 24, 34);
  color:white;
}

input {
  padding-left: 5px;
}

textarea {
  padding-left: 5px;
}

select {
  padding-left: 5px;
}

#title {
  font-family: valorant, sans-serif;
  font-size: 80px;
  width: 100%;
  color: rgb(216, 40, 84);
  background-color: rgb(10, 16, 24);
  text-align: center;
  padding-top: 10px;
}

#subtitle {
  font-family: valorant, sans-serif;
  font-size: 30px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 16, 24);
  text-align: center;
  margin-top: -15px;
}

#card-form {
  background-color: rgb(10, 16, 24);
  height: fit-content;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 5px solid rgb(216, 40, 84);
}

#newAgentForm {
  background-color: rgb(17, 26, 37);;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  text-align:right;
}

#newAgentName {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  margin: 3px;
}

#newAgentDescText{
  display: inline-block;
  position: relative;
  top: -130px;
  left: -5px;
}

#newAgentDesc {
  width: 200px;
  border-radius: 5px;
  margin-right:3px;
  margin-top: 3px;
  margin-bottom: -2px;
  resize: none;
  font-family: sans-serif;
}

#newAgentClass {
  width: 207px;
  height: 25px;
  border-radius: 5px;
  margin: 3px;
}

#newAgentAttr1 {
  width: 40px;
  height: 23px;
  border-radius: 5px;
  margin-right: 163px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#newAgentAttr2 {
  width: 40px;
  height: 23px;
  border-radius: 5px;
  margin-right: 163px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#newAgentAttr3 {
  width: 40px;
  height: 23px;
  border-radius: 5px;
  margin-right: 163px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#newAgentPicture {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  margin: 3px;
}

#newAgentRarity {
  width: 93px;
  height: 25px;
  border-radius: 5px;
  margin-right: 117px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#supertrunfo {
  margin-top: 20px;
  text-align: center;
}

#newAgentSuper {
  width: 100%;
  height: 23px;
  border-radius: 5px;
  margin-right: 127px;
  margin-top: 3px;
  margin-bottom: 3px;
  accent-color: rgb(216, 40, 84);
}

#card-form button {
  font-family: lemonMilk;
  font-weight: 800;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#hasTrunfo {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  padding: 18px;
}
