@font-face {
  font-family: valorant;
  src: url(./font/Valorant\ Font.ttf);
}

@font-face {
  font-family: lemonMilk;
  src: url(./font/LEMONMILK-Light.otf);
}

* {
  margin: 0px;
  border: 0px;
  color:white;
}

body {
  font-family: lemonMilk;
  font-size: 18px;
  background-image: url(./img/valorantbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  background-color: rgb(16, 24, 34);
}

#title {
  font-family: valorant, sans-serif;
  font-size: 80px;
  width: 100%;
  color: rgb(216, 40, 84);
  background-color: rgb(10, 16, 24);
  text-align: center;
  padding-top: 10px;
}

#subtitle {
  font-family: valorant, sans-serif;
  font-size: 30px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 16, 24);
  text-align: center;
  margin-top: -15px;
}

#card-form {
  background-color: rgb(10, 16, 24);
  height: 400px;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  border-bottom: 5px solid rgb(216, 40, 84);
}

#card-form button {
  width: 100px;
  height: 50px;
}

